<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Careless prescriptions</title>

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/scrolling-nav.css">
  <link rel="stylesheet" type="text/css" href="css/custom.css">

  <!-- Fontawesome -->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Mukta+Vaani" rel="stylesheet">


  <!-- JS -->
  <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/jquery.easing.min.js"></script>
  <script type="text/javascript" src="js/scrolling-nav.js"></script>
  <script src="https://use.fontawesome.com/9ba99a7e90.js"></script>
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand padding-top-sm" href="/"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Careless prescriptions</a>
            </div>
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">
      {{ content }}
    </div>

</body>
